@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
    margin: 0;
    padding: 0;
}
.header{
    padding: 1vw 5px;
    background-color: black;
    position: sticky;
    top: 1px;
   
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.logo{
    width: 100px;
    height: 40px;
    
}
.logopart{
    display: flex;
    justify-content: center;
    align-items: center;
}
.items{
    display: flex;
    justify-content: space-evenly;
    gap: 2vw;
}
.nav-item{
    list-style: none;
}
.nav-link{
    text-decoration: none;
    color:aliceblue;
    font-size: 1.3em;
    font-weight: 700;
    letter-spacing: 1px;
    
}
@media(max-width:500px){
    .nav-link{
        font-size: 0.8em;

    }
}
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: aliceblue;
  }
  
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: rgb(228, 152, 10);
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .home{
    background: rgba(0,0,0,0.9)url("./images/pexels-pixabay-276452.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    color: aliceblue;
  }
  .section1{
   height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

 .hey{
   font-size: 50px;
   font-family: 'Bree Serif', serif;
   font-weight: 600;
   padding-bottom: 10px;
   color: aliceblue;
   
 }
 .name{
   font-size: 50px;
   font-weight: 900;
   color: rgb(228, 152, 10);
   
}
.dev{
   font-size: 25px;
   font-family: 'Bree Serif', serif;
   font-weight: 600;
   color: aliceblue;
   padding-bottom: 25px;
 }
.dev {
   position: relative;
   overflow: hidden;
   white-space: nowrap;
   animation: typewriter 3s steps(38) 0.5s 1 normal both;
 }
 
 @keyframes typewriter {
   from {
     width: 0;
   }
   to {
     width: 710px;
   }
 }


 .button{
   width: 150px;
   height: 50px;
   border-radius: 40px;
   background-color: rgb(228, 152, 10);
   border: none;
   font-size: 17px;
   font-family: 'Bree Serif', serif;
   color: aliceblue;
   font-weight: 600;
 }
 
.about{
    background-color: beige;
    padding:50px
}
 .about>h1{
    text-align: center;
    font-size: 3em;
 }
 .text{
    max-width: 400px;
    font-size: 20px;
    font-weight: bold;
    line-height: 2em;
 }
 .section2{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 30px;
    
 }
 .skill{
    max-width: 400px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
    
 }
 .sicon>i{
    font-size: 100px;
 }
 .section3{
    padding: 50px;
    background-color: beige;
    
 }
 .section3>h1{
    text-align: center;
    font-size: 3em;
 }
 .projects{
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    flex-wrap: wrap;
 }
 .project{
    max-width: 400px;
 }
 .pimg{
    width: 100%;
 }
 .section4{
    padding: 50px;
    background-color: beige;
   
 }
 .section4>h1{
    text-align: center;
    font-size: 3em;
 }
 .contact{
    display: flex;
    flex-direction: column-reverse;
    gap: 50px;
    align-items: center;
    padding: 50px;
 }
 .form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    max-width: 500px;
 }
 .form>input{
    height: 30px;
 }
 .socialicons{
    font-size: 40px;
 }
   .footer{
    text-align: center;
   }